@font-face {
  font-family: "SFDisplay-Regular";
  src: url(./Fonts/SFDisplay-Regular.otf);
}

@font-face {
  font-family: "SFDisplay-Bold";
  src: url(./Fonts/SFDisplay-Bold.ttf);
}

@font-face {
  font-family: "SFDisplay-Semibold";
  src: url(./Fonts/SFDisplay-Semibold.otf);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: SFDisplay-Regular;
  color: #222247;
}

main {
  flex-grow: 1;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 18vw;
  height: 100%;
  margin-top: 20px;
  margin-left: 62px;
}

.buttons {
  justify-content: center;
  align-items: center;
  margin-left: 168px;
  margin-bottom: 120px;
}

.login {
  background: white;
  border: none;
  margin-right: 40px;
}

.topdemo {
  width: 130px;
  height: 50px;
  margin-right: 32px;
  margin-top: 30px;
  background: none;
  border: solid 1px #222247;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.top {
  display: flex;
  flex-direction: row;
  margin-top: 68px;
  background-image: url("./Photos/girlside.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  margin-bottom: 124px;
}

.toptext {
  display: flex;
  flex-direction: column;
}

.diversity {
  width: 100%;
  height: auto;
  font-family: SFDisplay-Semibold;
  font-size: 4vw;
  line-height: auto;
  margin-left: 168px;
  margin-bottom: 24px;
  margin-top: 140px;
}

.button {
  width: 16vw;
  height: 50px;
  margin-right: 12px;
  margin-top: 30px;
  background: none;
  border: none;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.button-primary {
  background: #24cb8d;
  color: white;
}

.button-outline {
  border: solid 1px #222247;
  color: #222247;
}

.white {
  border-color: #ffffff;
  color: #fff;
}

.superpowerbuttons {
  flex-direction: row;
}
.nav-button {
  width: 10vw;
  max-width: 120px;
  margin-right: 62px;
}

.round {
  width: 160px;
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.booklongcall {
  width: 32vw;
  height: 50px;
  margin-top: 40px;
  background-color: #f1f1f5;
  border: solid 1px #222247;
  color: #222247;
  border-radius: 6px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.description {
  width: 100%;
  height: auto;
  margin-left: 168px;
  margin-top: 0;
  font-family: SFDisplay-Regular;
  font-size: 2vw;
  line-height: auto;
  width: 40vw;
  margin-bottom: 0px;
}

.border {
  border: solid 1px black;
  width: 80%;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.fundynamic {
  width: 100%;
  margin-top: 72px;
  text-align: center;
  font-size: 28px;
}

.bonding {
  font-size: 56px;
  font-weight: 400;
}

.skillsframe {
  position: absolute;
  width: 50vw;
  height: 29vw;
  top: 88px;
  background-color: #222247;
  left: 0;
  padding-left: 80px;
}

.superpower {
  position: relative;
  width: 100%;
  margin-top: 108px;
  height: 1280px;
  background-color: #24cb8d;
  margin-bottom: 0px;
  z-index: 1;
}

.people {
  position: absolute;
  top: 0;

  width: 100%;
  max-width: 100%;
  height: auto;
}

.sidewaysborder {
  width: 419px;
  border: solid 1px #24cb8d;
  rotate: 90deg;
  position: relative;
  z-index: 2;
  bottom: -371px;
  margin-left: -114px;
}

h2 {
  position: relative;
  color: white;
  font-family: SFDisplay-Bold;
  font-size: 4vw;
  font-weight: 700;
  margin-top: 55px;
}

.sp {
  color: #24cb8d;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 82px;
}

.macbook {
  width: 50%;
  height: auto;
  margin-right: 32px;
  margin-top: 70px;
}

.cultureof {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -170px;
  width: 50%;
  height: auto;
  font-size: 2vw;
  font-family: SFDisplay-Regular;
  text-align: left;
  margin-right: 90px;
  color: white;
}
.culture {
  width: 60vw;
  height: auto;
  margin-bottom: 12px;
}

.bottomline {
  background-color: #222247;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 155vh;
  margin-bottom: 0px;
  z-index: 0;
}

.bottom {
  color: #24cb8d;
  width: 100%;
  font-size: 6vw;
  font-family: SFDisplay-Bold;
}

.softserveicon {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
}

.learnmore {
  margin-top: 0px;
  margin-bottom: 32px;
}

.whiteborder {
  position: relative;
  display: flex;
  flex-direction: column;
  border: solid 1px white;
  width: 80%;
  margin: auto;
  bottom: 110px;
}

.champions {
  position: relative;
  width: 90%;
  color: white;
  font-family: SFDisplay-Semibold;
  font-size: 1.5vw;
  line-height: auto;
  margin-top: -36px;
  margin-bottom: 8px;
}

.nextlevel {
  width: 100%;
  height: 388px;
  background-color: #f1f1f5;
  text-align: center;
  margin: auto;
  font-size: 30px;

  margin-bottom: 163px;
}

.thenext {
  font-size: 77px;
  margin-top: 68px;
}

.expert {
  margin-top: 30px;
  font-size: 35px;
  margin-bottom: 68px;
}

.trustedby {
  display: flex;
  width: 87%;
  height: auto;
  text-align: center;
  padding: 0;
  margin: auto;
  margin-bottom: 140px;
}

.gain {
  width: 100%;
  height: auto;
  margin: auto;
  font-size: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gainfreedemo {
  width: 240px;
  height: 50px;
  padding-left: 73px;
  padding-right: 72px;
  background: #24cb8d;
  color: white;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 18px;
}
.gaincontainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
}

.try {
  font-size: 28px;
}

.gainborderbottom {
  border: solid 1px black;
  margin: auto;
  margin-top: 68px;
  margin-bottom: 198px;
  width: 80%;
}

.ellipse {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 36vh;
  border-radius: 100% 100% 0 0;
  overflow: hidden;
  margin: 0 auto;
  background-color: #3f3f6e;
  z-index: 0; /* this puts the ellipse behind the footer */
}

.socialmedia {
  color: white;
  margin: auto;
  margin-top: 48px;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
}

.follow {
  font-size: 1.5vw;
  font-weight: 200;
  margin-top: 6px;
  margin-bottom: 36px;
}
.socialicons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  margin: auto;
}

.twitter {
  width: 5vw;
}

.youtube {
  width: 5vw;
}

.instagram {
  width: 5vw;
}

.linkedin {
  width: 5vw;
}

.footer {
  width: 100%;
  height: 60px;
  position: sticky;
  bottom: 0;
  z-index: 1;
  align-items: center;
  background-color: #222247;
  color: white;
  display: flex;
  justify-content: space-around;
}

.footerinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 1813px) {
  .sidewaysborder {
    width: 397px;
    bottom: -363px;
    margin-left: -109px;
  }
}

@media screen and (max-width: 1750px) {
  .sidewaysborder {
    width: 391px;
    bottom: -348px;
    margin-left: -101px;
  }

  h2 {
    margin-top: 41px;
  }
}

@media screen and (max-width: 1675px) {
  .sidewaysborder {
    width: 372px;
    bottom: -332px;
    margin-left: -101px;
  }

  .superpower {
    height: 480px;
  }

  h2 {
    margin-top: 43px;
  }

  .bottomline {
    position: relative;
    background-color: #222247;
    display: flex;
    flex-direction: row;
    height: 142vh;
    margin-top: 550px;
    margin-bottom: 0px;
    z-index: 0;
  }
}

@media screen and (max-width: 1570px) {
  .superpower {
    height: 1058px;
  }

  .bottomline {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1540px) {
  .sidewaysborder {
    width: 347px;
    bottom: -316px;
    margin-left: -82px;
  }
}
@media screen and (max-width: 1500px) {
  .sidewaysborder {
    width: 306px;
    bottom: -296px;
    margin-left: -75px;
  }

  h2 {
    margin-top: 41px;
  }
}

@media screen and (max-width: 1486px) {
  .diversity {
    margin-left: 148px;
  }
  .skillsframe {
    height: 30vw;
  }

  .description {
    margin-left: 148px;
  }

  .buttons {
    margin-left: 148px;
  }

  .superpower {
    height: 1000px;
  }

  .booklongcall {
    width: 38vw;
  }
}

@media screen and (max-width: 1300px) {
  .diversity {
    margin-left: 124px;
  }

  .description {
    margin-left: 124px;
  }

  .buttons {
    margin-left: 124px;
  }

  .fundynamic {
    margin: auto;
    width: 80%;
    margin-top: 72px;
    text-align: center;
    font-size: 18px;
  }

  .bonding {
    font-size: 32px;
    font-weight: 400;
  }

  .superpower {
    height: 870px;
  }

  .sidewaysborder {
    width: 280px;
    bottom: -261px;
    margin-left: -82px;
  }

  h2 {
    margin-top: 25px;
  }

  .content {
    margin-left: 25px;
  }

  .champions {
    margin-top: -26px;
    margin-bottom: -12px;
  }

  .superpowerbuttons {
    height: 48px;
  }

  .bottomline {
    height: 122vh;
  }

  .gain {
    font-size: 4vw;
  }

  .try {
    font-size: 2vw;
  }
}

@media screen and (max-width: 1150px) {
  .diversity {
    margin-left: 112px;
  }

  .description {
    margin-left: 112px;
  }

  .buttons {
    margin-left: 112px;
  }

  .bottomline {
    height: 110vh;
  }

  .booklongcall {
    width: 44vw;
  }
}

@media screen and (max-width: 1130px) {
  .diversity {
    margin-left: 100px;
  }

  .description {
    margin-left: 100px;
  }

  .buttons {
    margin-left: 100px;
  }

  .sidewaysborder {
    width: 267px;
    bottom: -254px;
    margin-left: -82px;
  }

  h2 {
    margin-top: 25px;
  }

  .skillsframe {
    padding-left: 70px;
  }

  .champions {
    margin-top: -26px;
    margin-bottom: -12px;
  }

  .super {
    height: 42px;
  }
}

@media screen and (max-width: 1100px) {
  .sidewaysborder {
    width: 249px;
    bottom: -246px;
    margin-left: -82px;
  }

  .superpower {
    height: 750px;
  }

  .skillsframe {
    padding-left: 62px;
  }

  .macbook {
    margin-top: -47px;
  }
}

@media screen and (max-width: 1050px) {
  .diversity {
    margin-left: 100px;
  }

  .description {
    margin-left: 100px;
  }

  .buttons {
    margin-left: 100px;
  }

  .sidewaysborder {
    display: none;
  }

  h2 {
    margin-top: 25px;
  }

  .champions {
    font-family: SFDisplay-Regular;
    font-size: 2vw;
    margin-top: -18px;
  }

  .super {
    display: none;
  }

  .content {
    margin-left: 0px;
  }

  .bottomline {
    height: 100vh;
  }
}

@media screen and (max-width: 980px) {
  .sidewaysborder {
    width: 220px;
    bottom: -232px;
    margin-left: -72px;
  }

  .ellipse {
    height: 28vh;
  }

  .socialmedia {
    color: white;
    margin: auto;
    margin-top: 48px;
    font-size: 16px;
  }

  .follow {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 860px) {
  .super {
    height: 32px;
    font-size: 12px;
  }

  .superpower {
    height: 670px;
  }
  .skillsframe {
    padding-left: 60px;
  }

  h2 {
    font-weight: 200;
    margin-top: 18px;
  }
  .macbook {
    margin-top: -80px;
  }
  .nextlevel {
    margin-top: -30px;
    padding-top: 36px;
  }

  .bottomline {
    height: 85vh;
  }
}

@media screen and (max-width: 830px) {
  .superpower {
    height: 560px;
  }

  .bottomline {
    height: 92vh;
  }

  .booklongcall {
    width: 70vw;
  }
}

@media screen and (max-width: 750px) {
  .top {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 32px;
    background-image: url("./Photos/girlmiddlesmall1.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 124px;
  }

  .toptext {
    margin-bottom: 280px;
  }

  .diversity {
    margin-top: 24px;
  }

  .button {
    width: 32vw;
    height: 42px;
    margin-right: 12px;
    margin-top: 16px;
    background: none;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }

  .button-primary {
    background: #24cb8d;
    color: white;
  }

  .button-outline {
    border: solid 1px #222247;
    color: #222247;
  }

  .sidewaysborder {
    width: 171px;
    bottom: -166px;
    margin-left: -52px;
  }

  .champions {
    font-family: SFDisplay-Regular;
    margin-top: -18px;
  }

  .skillsframe {
    top: 55px;
    padding-left: 48px;
  }
  .white {
    border-color: #ffffff;
    color: #fff;
  }

  .superpowerbuttons {
    display: none;
  }
  .nav-button {
    width: 24vw;
    max-width: 120px;
  }

  .bottomline {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .macbook {
    margin-top: 90px;
  }

  .cultureof {
    margin-top: 24px;
    margin-right: 0px;
  }

  .whiteborder {
    margin-top: 84px;
    bottom: 148px;
  }

  .nextlevel {
    margin-top: -100px;
    padding-top: 36px;
  }

  .try {
    width: 80%;
  }
}

@media screen and (max-width: 680px) {
  .superpower {
    height: 480px;
  }

  .nextlevel {
    font-size: 4vw;
    height: 345px;
  }

  .thenext {
    font-size: 10.5vw;
  }

  .expert {
    font-size: 5vw;
  }

  .booklongcall {
    width: 80vw;
  }
}

@media screen and (max-width: 600px) {
  .superpower {
    height: 408px;
  }

  .bottomline {
    height: 82vh;
  }

  .cultureof {
    width: 80%;
    font-size: 14px;
  }

  .softserveicon {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 120px;
    height: 100%;
    margin-top: 16px;
    margin-left: 32px;
  }

  .login {
    background: white;
    border: none;
    margin-right: 12px;
  }

  .topdemo {
    width: 120px;
    height: 38px;
    margin-right: 32px;
    margin-top: 20px;
    background: none;
    border: solid 1px #222247;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
  }

  .hero {
    width: 80%;
    margin: auto;
    height: auto;
    flex: 1;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .toptext {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-top: 32px;
  }

  .top {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 32px;
    background-image: url("./Photos/girlmiddlesmall.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 124px;
  }

  .diversity {
    width: 100%;
    height: auto;
    font-family: SFDisplay-Semibold;
    font-size: 24px;
    line-height: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-top: 24px;
  }

  .description {
    width: 100%;
    height: auto;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .buttons {
    margin-left: 0px;
    display: flex;
    justify-content: left;
  }

  .fundynamic {
    margin: auto;
    width: 80%;
    margin-top: 72px;
    text-align: center;
    font-size: 18px;
  }

  .bonding {
    font-size: 32px;
    font-weight: 400;
  }

  .people {
    width: 100%;
  }

  .superpower {
    height: 375px;
  }

  .sidewaysborder {
    display: none;
  }

  .skillsframe {
    top: 28px;
    padding-left: 16px;
  }

  h2 {
    position: relative;
    color: white;
    font-family: SFDisplay-Semibold;
    font-size: 16px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 28px;
  }

  .content {
    margin-left: 18px;
  }

  .champions {
    font-size: 11px;
  }

  .macbook {
    width: 40%;
    height: auto;
    margin-right: 24px;
    margin-top: -34%;
  }

  .bottomline {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .macbook {
    margin-top: 90px;
    width: 60%;
  }

  .culture {
    width: 100vw;
  }
  .cultureof {
    margin-top: 24px;
    margin-right: 0px;
  }

  .whiteborder {
    margin-top: 84px;
    bottom: 148px;
  }

  .nextlevel {
    font-size: 4vw;
    height: 300px;
  }

  .booklongcall {
    width: 80vw;
    height: 48px;
    margin-top: 24px;
    background-color: #f1f1f5;
    border: solid 1px #222247;
    color: #222247;
    border-radius: 6px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  .gain {
    font-size: 18px;
    margin-bottom: 24px;
    margin-right: 24px;
  }

  .try {
    font-size: 12px;
    margin-top: 8px;
  }

  .gainborderbottom {
    margin-bottom: 68px;
    margin-top: 16px;
  }

  .socialmedia {
    font-size: 24px;
    margin-top: 48px;
  }

  .follow {
    font-size: 14px;
  }

  .socialicons {
    display: flex;
    height: 24px;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin: auto;
  }

  .ellipse {
    width: 100%;
    height: 28vh;
    border-radius: 100% 100% 0 0;
    overflow: hidden;
    margin: 0 auto;
    background-color: #3f3f6e;
    z-index: 0;
  }

  .footerinfo {
    font-size: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .skillsframe {
    width: 56vw;
    height: 28vw;
  }

  .content {
    margin-left: 8px;
  }

  h2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .culture {
    font-size: 16px;
  }
}

@media screen and (max-width: 490px) {
  .nextlevel {
    height: 270px;
  }
}

@media screen and (max-width: 460px) {
  .skillsframe {
    width: 56vw;
    height: 30vw;
  }
}

@media screen and (max-width: 428px) {
  .skillsframe {
    width: 62vw;
    height: 37vw;
  }

  .content {
    margin-left: 8px;
  }

  h2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .superpower {
    height: 292px;
  }

  .whiteborder {
    margin-top: 48px;
  }

  .nextlevel {
    height: 243px;
    margin-top: -55px;
    margin-bottom: 82px;
  }

  .culture {
    width: 80%;
  }

  .trustedby {
    width: 90%;
    margin-bottom: 82px;
  }

  .ellipse {
    height: 23vh;
  }
}

@media screen and (max-width: 360px) {
  .nextlevel {
    height: 220px;
  }
}
